###############################################
################### General ###################
###############################################
NODE_ENV=development
API_PORT=3000
API_JWT_SECRET=your_jwt_secret_key_here
API_JWT_RESET_SECRET=your_reset_password_jwt_secret_key_here

###############################################
##################### DBs #####################
###############################################
DB_NAME=new_schedule
DB_USER=postgres
DB_PASS=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

REDIS_ENABLE=true
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

###############################################
#################### Queue ####################
###############################################
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=admin #Only for rabbitmq ui access
RABBITMQ_PASS=admin #Only for rabbitmq ui access
RABBITMQ_MANAGEMENT_PORT=15672 #Only for rabbitmq ui access

###############################################
#################### Email ####################
###############################################
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_email_password
EMAIL_FROM=noreply@yourapp.com